/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jul, 2020, 9:24:36 PM
    Author     : Sahishnu
*/

p{color:greenyellow;
font-family: Roboto;
font-size: 25px;
border-style: solid ;
 margin:200px;
padding:100px 100px 200px 400px;}